---
name: assign-author

on:
  issues:
    types: [opened, reopened]
  pull_request_target:
    types: [opened, reopened]

permissions: {}

jobs:
  assign-author:
    permissions:
      issues: write
      pull-requests: write
    uses: andreygrechin/github-actions/.github/workflows/assign-author.yml@dcce65df1c204fb59fb97f79f384903fea5326e2 # v1.0.0
