---
name: gitleaks

on:
  pull_request:
  push:
    branches: ["main"]
  schedule:
    - cron: 45 21 * * FRI

permissions: {}

concurrency:
  group: gitleaks-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  gitleaks:
    permissions:
      contents: read
      pull-requests: read
    uses: andreygrechin/github-actions/.github/workflows/gitleaks.yml@2920bcbd41f31201daaf7b42868cfc348e5a3de2 # v1.0.0
